In [70]:
len(df_integrated.groupby(['Country']))

156

In [68]:
df_integrated = pd.merge(pd.merge(df_countryData,df_happiness, on='Country', how='inner'),df_lifeExpectancy,on='Country', how='inner')

# Data Engineering Project
## Data Analyzers
### Islam Nasr
### Gaser Khaled
### Kariman Hossam
### Marwan Karim

## Opening available datasets to check how is it organized
Inspecting available datasets to get a view of the columns and rows.

In [31]:
import numpy as np
import pandas as pd

In [32]:
df_countryData = pd.read_csv('./data/250 Country Data.csv')
df_countryData.head(5)

,Unnamed: 0,name,region,subregion,population,area,gini,Real Growth Rating(%),Literacy Rate(%),Inflation(%),Unemployement(%)
0,0,Afghanistan,Asia,Southern Asia,27657145,652230.0,27.8,3.1% (2013 est.).,28.1% (2000 est.),6.8% (2013 est.).,35% (2008 est.).
1,1,Åland Islands,Europe,Northern Europe,28875,1580.0,NaN,NaN,NaN,NaN,NaN
2,2,Albania,Europe,Southern Europe,2886026,28748.0,34.5,.7% (2013 est.).,98.7% (2011 est.),1.7% (2013 est.).,16.9% official rate (2013 est.). Note: These a...
3,3,Algeria,Africa,Northern Africa,40400000,2381741.0,35.3,3.1%.,79%,3.9%.,10.3%.
4,4,American Samoa,Oceania,Polynesia,57100,199.0,NaN,3%.,97% (1980 est.),NaN,NaN

In [33]:
df_countryData.rename(columns={'name': 'Country'}, inplace=True)
df_countryData.columns

Index(['Unnamed: 0', 'Country', 'region', 'subregion', 'population', 'area',
       'gini', 'Real Growth Rating(%)', 'Literacy Rate(%)', 'Inflation(%)',
       'Unemployement(%)'],
      dtype='object')

In [34]:
df_lifeExpectancy = pd.read_csv('./data/Life Expectancy Data.csv')
df_lifeExpectancy.head(5)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [35]:
df_happiness2015 = pd.read_csv('./data/Happiness_Dataset/2015.csv')
df_happiness2015.head(5)
df_happiness2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [36]:
df_happiness2015.rename(columns={'Happiness Rank': 'Happiness_Rank',  'Happiness Score': 'Happiness_Score' , 'Standard Error': 'Standard_Error', 'Economy (GDP per Capita)': 'Economy_GDP_per_Capita',  'Health (Life Expectancy)': 'Health_Life_Expectancy', 'Trust (Government Corruption)': 'Trust_Government_Corruption','Dystopia Residual': 'Dystopia_Residual'}, inplace=True)
df_happiness2015.columns

Index(['Country', 'Region', 'Happiness_Rank', 'Happiness_Score',
       'Standard_Error', 'Economy_GDP_per_Capita', 'Family',
       'Health_Life_Expectancy', 'Freedom', 'Trust_Government_Corruption',
       'Generosity', 'Dystopia_Residual'],
      dtype='object')

In [37]:
df_happiness2016 = pd.read_csv('./data/Happiness_Dataset/2016.csv')
df_happiness2016.head(5)
df_happiness2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [38]:
df_happiness2016.rename(columns={'Happiness Rank': 'Happiness_Rank',  'Happiness Score': 'Happiness_Score' ,'Lower Confidence Interval': 'Lower_Confidence_Interval', 'Upper Confidence Interval': 'Upper_Confidence_Interval', 'Economy (GDP per Capita)': 'Economy_GDP_per_Capita',  'Health (Life Expectancy)': 'Health_Life_Expectancy', 'Trust (Government Corruption)': 'Trust_Government_Corruption','Dystopia Residual': 'Dystopia_Residual'}, inplace=True)
df_happiness2016.columns

Index(['Country', 'Region', 'Happiness_Rank', 'Happiness_Score',
       'Lower_Confidence_Interval', 'Upper_Confidence_Interval',
       'Economy_GDP_per_Capita', 'Family', 'Health_Life_Expectancy', 'Freedom',
       'Trust_Government_Corruption', 'Generosity', 'Dystopia_Residual'],
      dtype='object')

In [39]:
df_happiness2017 = pd.read_csv('./data/Happiness_Dataset/2017.csv')
df_happiness2017.head(5)
df_happiness2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [40]:
df_happiness2017.rename(columns={'Happiness.Rank': 'Happiness_Rank',  'Happiness.Score': 'Happiness_Score' , 'Whisker.low': 'Lower_Confidence_Interval', 'Whisker.high': 'Upper_Confidence_Interval', 'Economy..GDP.per.Capita.': 'Economy_GDP_per_Capita',  'Health..Life.Expectancy.': 'Health_Life_Expectancy', 'Trust..Government.Corruption.': 'Trust_Government_Corruption','Dystopia.Residual': 'Dystopia_Residual'}, inplace=True)
df_happiness2017.columns

Index(['Country', 'Happiness_Rank', 'Happiness_Score',
       'Upper_Confidence_Interval', 'Lower_Confidence_Interval',
       'Economy_GDP_per_Capita', 'Family', 'Health_Life_Expectancy', 'Freedom',
       'Generosity', 'Trust_Government_Corruption', 'Dystopia_Residual'],
      dtype='object')

In [41]:
df_happiness2018 = pd.read_csv('./data/Happiness_Dataset/2018.csv')
df_happiness2018.head(5)
df_happiness2018.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [42]:
df_happiness2018.rename(columns={'Overall rank': 'Happiness_Rank','Country or region':'Country',  'Score': 'Happiness_Score' , 'GDP per capita': 'Economy_GDP_per_Capita',  'Healthy life expectancy': 'Health_Life_Expectancy','Freedom to make life choices':'Freedom', 'Perceptions of corruption': 'Trust_Government_Corruption','Social support':'Family'}, inplace=True)
df_happiness2018.columns

Index(['Happiness_Rank', 'Country', 'Happiness_Score',
       'Economy_GDP_per_Capita', 'Family', 'Health_Life_Expectancy', 'Freedom',
       'Generosity', 'Trust_Government_Corruption'],
      dtype='object')

In [43]:
df_happiness2019 = pd.read_csv('./data/Happiness_Dataset/2015.csv')
df_happiness2019.head(5)
df_happiness2019.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [44]:
df_happiness2019.rename(columns={'Happiness Rank': 'Happiness_Rank','Happiness Score': 'Happiness_Score' ,'Standard Error':'Standard_Error', 'Economy (GDP per Capita)': 'Economy_GDP_per_Capita',  'Health (Life Expectancy)': 'Health_Life_Expectancy', 'Trust (Government Corruption)': 'Trust_Government_Corruption','Dystopia Residual': 'Dystopia_Residual'}, inplace=True)
df_happiness2019.columns

Index(['Country', 'Region', 'Happiness_Rank', 'Happiness_Score',
       'Standard_Error', 'Economy_GDP_per_Capita', 'Family',
       'Health_Life_Expectancy', 'Freedom', 'Trust_Government_Corruption',
       'Generosity', 'Dystopia_Residual'],
      dtype='object')

In [45]:
df_happiness2015["Year"]=2015
df_happiness2016["Year"]=2016
df_happiness2017["Year"]=2017
df_happiness2018["Year"]=2018
df_happiness2019["Year"]=2019

In [46]:
df_happiness=pd.concat([df_happiness2015,df_happiness2016,df_happiness2017,df_happiness2018,df_happiness2019])

In [47]:
df_happiness.sort_values(by=['Country','Year'], inplace=True)

In [48]:
df_happiness

,Country,Region,Happiness_Rank,Happiness_Score,Standard_Error,Economy_GDP_per_Capita,Family,Health_Life_Expectancy,Freedom,Trust_Government_Corruption,Generosity,Dystopia_Residual,Year,Lower_Confidence_Interval,Upper_Confidence_Interval
152,Afghanistan,Southern Asia,153,3.575,0.03084,0.319820,0.302850,0.303350,0.234140,0.097190,0.365100,1.952100,2015,NaN,NaN
153,Afghanistan,Southern Asia,154,3.360,NaN,0.382270,0.110370,0.173440,0.164300,0.071120,0.312680,2.145580,2016,3.288000,3.432000
140,Afghanistan,NaN,141,3.794,NaN,0.401477,0.581543,0.180747,0.106180,0.061158,0.311871,2.150801,2017,3.714338,3.873661
144,Afghanistan,NaN,145,3.632,NaN,0.332000,0.537000,0.255000,0.085000,0.036000,0.191000,NaN,2018,NaN,NaN
152,Afghanistan,Southern Asia,153,3.575,0.03084,0.319820,0.302850,0.303350,0.234140,0.097190,0.365100,1.952100,2019,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,Zimbabwe,Sub-Saharan Africa,115,4.610,0.04290,0.271000,1.032760,0.334750,0.258610,0.080790,0.189870,2.441910,2015,NaN,NaN
130,Zimbabwe,Sub-Saharan Africa,131,4.193,NaN,0.350410,0.714780,0.159500,0.254290,0.085820,0.185030,2.442700,2016,4.101000,4.285000
137,Zimbabwe,NaN,138,3.875,NaN,0.375847,1.083096,0.196764,0.336384,0.095375,0.189143,1.597970,2017,3.771300,3.978700
143,Zimbabwe,NaN,144,3.692,NaN,0.357000,1.094000,0.248000,0.406000,0.099000,0.132000,NaN,2018,NaN,NaN
114,Zimbabwe,Sub-Saharan Africa,115,4.610,0.04290,0.271000,1.032760,0.334750,0.258610,0.080790,0.189870,2.441910,2019,NaN,NaN

Change names same of countries with different names in different years to same names

In [49]:
df_happiness['Country']=df_happiness['Country'].replace({'&':'and'},regex=True)
df_happiness['Country']=df_happiness['Country'].replace({'Northern Cyprus':'North Cyprus','Somaliland region':'Somaliland Region','Taiwan Province of China':'Taiwan','Hong Kong S.A.R., China':'Hong Kong'})

In [50]:
df_lifeExpectancy

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358879,12222251.0,11.0,11.2,0.434,9.8

In [51]:
countriesAvailable_lifeExpectancy=df_lifeExpectancy.groupby(['Country']).groups.keys()
countriesList_lifeExpectancy=[*countriesAvailable_lifeExpectancy]
print(len(countriesAvailable_lifeExpectancy))

193

In [52]:
countriesAvailable_happiness=df_happiness.groupby(['Country']).groups.keys()
countriesList_happiness=[*countriesAvailable_happiness]
print(len(countriesList_happiness))

163

In [53]:
countriesAvailable_250Countries=df_countryData.groupby(['Country']).groups.keys()
countriesList_250Countries=[*countriesAvailable_250Countries]
print(len(countriesList_250Countries))

250

In [54]:
print("In happiness not lifeExpectancy")
print(set(countriesList_happiness).difference(countriesList_lifeExpectancy))
print("In lifeExpectancy not happiness")
print(set(countriesList_lifeExpectancy).difference(countriesList_happiness))

In happiness not lifeExpectancy
{'South Korea', 'Palestinian Territories', 'Ivory Coast', 'North Cyprus', 'Russia', 'Tanzania', 'Moldova', 'Laos', 'Syria', 'Somaliland Region', 'Iran', 'Venezuela', 'Congo (Brazzaville)', 'United States', 'Congo (Kinshasa)', 'Puerto Rico', 'Kosovo', 'Hong Kong', 'Bolivia', 'United Kingdom', 'Czech Republic', 'Taiwan', 'Macedonia', 'Vietnam'}
In lifeExpectancy not happiness
{'Venezuela (Bolivarian Republic of)', 'Fiji', 'United Republic of Tanzania', 'Nauru', 'United States of America', 'Iran (Islamic Republic of)', 'Gambia', 'Saint Kitts and Nevis', 'Cook Islands', "Côte d'Ivoire", 'Dominica', 'Russian Federation', 'Samoa', 'Czechia', 'Saint Vincent and the Grenadines', 'Seychelles', 'Timor-Leste', 'Palau', 'Antigua and Barbuda', 'Solomon Islands', 'Kiribati', 'Republic of Korea', 'Tuvalu', "Democratic People's Republic of Korea", 'Democratic Republic of the Congo', 'Vanuatu', 'Cuba', 'Equatorial Guinea', 'Brunei Darussalam', 'United Kingdom of Great Britain and Northern Ireland', 'Congo', 'Cabo Verde', 'Maldives', 'Monaco', 'Niue', 'Grenada', 'Bahamas', 'Saint Lucia', 'Tonga', 'Micronesia (Federated States of)', 'Guyana', 'Marshall Islands', 'Bolivia (Plurinational State of)', 'Guinea-Bissau', 'Eritrea', 'Barbados', 'Sao Tome and Principe', "Lao People's Democratic Republic", 'Republic of Moldova', 'The former Yugoslav republic of Macedonia', 'Papua New Guinea', 'Syrian Arab Republic', 'Viet Nam', 'San Marino'}

hnfkes north(northern) cyprus 3lashan mesh mwgooda fl lifeExpectancy &
we will leave Palestine lel 2saf & we will not work with anything related to hongKong-taiwan because they bring corona & PuertoRico

In [55]:
df_lifeExpectancy['Country'] = df_lifeExpectancy['Country'].replace({'Iran (Islamic Republic of)':'Iran', 'Czechia':'Czech Republic','Democratic Republic of the Congo':'Congo (Kinshasa)','Congo':'Congo (Brazzaville)','United Republic of Tanzania':'Tanzania','Russian Federation':'Russia','United States of America':'United States','Venezuela (Bolivarian Republic of)':'Venezuela',"Côte d'Ivoire":'Ivory Coast','Viet Nam':'Vietnam','Republic of Korea':'South Korea','Syrian Arab Republic':'Syria',"Lao People's Democratic Republic":'Laos','Republic of Moldova':'Moldova','United Kingdom of Great Britain and Northern Ireland':'United Kingdom','Bolivia (Plurinational State of)':'Bolivia','The former Yugoslav republic of Macedonia':'Macedonia','Czechia':'Czech Republic'})

In [56]:
countriesAvailableCleaned_lifeExpectancy=df_lifeExpectancy.groupby(['Country']).groups.keys()
countriesListCleaned_lifeExpectancy =list(set([*countriesAvailableCleaned_lifeExpectancy])&set(countriesList_happiness))
print(len(countriesListCleaned_lifeExpectancy))
print(len(countriesList_happiness))
countriesListCleaned_lifeExpectancy

156
163

['Ecuador',
 'South Sudan',
 'Bahrain',
 'Honduras',
 'Uruguay',
 'Argentina',
 'Uzbekistan',
 'Peru',
 'Belgium',
 'Central African Republic',
 'Chile',
 'China',
 'Latvia',
 'Hungary',
 'Finland',
 'Iran',
 'Mongolia',
 'Panama',
 'Malawi',
 'Suriname',
 'Ethiopia',
 'Congo (Brazzaville)',
 'Oman',
 'United States',
 'Philippines',
 'Poland',
 'Comoros',
 'Nicaragua',
 'Pakistan',
 'Myanmar',
 'Bolivia',
 'Albania',
 'Algeria',
 'Morocco',
 'Singapore',
 'Niger',
 'Slovakia',
 'Vietnam',
 'Ivory Coast',
 'Mauritius',
 'Malaysia',
 'Madagascar',
 'Mozambique',
 'Rwanda',
 'Tanzania',
 'Dominican Republic',
 'El Salvador',
 'Nigeria',
 'Sweden',
 'Bosnia and Herzegovina',
 'Yemen',
 'Zimbabwe',
 'Swaziland',
 'Canada',
 'Sudan',
 'Costa Rica',
 'South Africa',
 'Turkmenistan',
 'Croatia',
 'Jamaica',
 'Bhutan',
 'Djibouti',
 'Kuwait',
 'Lithuania',
 'Cameroon',
 'Namibia',
 'Greece',
 'Zambia',
 'United Kingdom',
 'Portugal',
 'Romania',
 'Austria',
 'Belarus',
 'Indonesia',
 'Burundi',
 'Brazil',
 'Kyrgyzstan',
 'Trinidad and Tobago',
 'Lesotho',
 'Russia',
 'Moldova',
 'Iraq',
 'Libya',
 'Syria',
 'Norway',
 'Belize',
 'Qatar',
 'Spain',
 'Afghanistan',
 'Bulgaria',
 'Venezuela',
 'Azerbaijan',
 'France',
 'Kenya',
 'Switzerland',
 'Uganda',
 'Paraguay',
 'United Arab Emirates',
 'New Zealand',
 'Burkina Faso',
 'Montenegro',
 'Czech Republic',
 'Mauritania',
 'Kazakhstan',
 'Ireland',
 'Netherlands',
 'Togo',
 'Tajikistan',
 'Lebanon',
 'Mexico',
 'Liberia',
 'Sri Lanka',
 'Guatemala',
 'Botswana',
 'South Korea',
 'Haiti',
 'Angola',
 'Chad',
 'Germany',
 'Senegal',
 'Ukraine',
 'Egypt',
 'Cyprus',
 'Laos',
 'Japan',
 'Turkey',
 'Italy',
 'Colombia',
 'Estonia',
 'Armenia',
 'Thailand',
 'Cambodia',
 'Nepal',
 'Sierra Leone',
 'India',
 'Congo (Kinshasa)',
 'Australia',
 'Jordan',
 'Mali',
 'Serbia',
 'Malta',
 'Tunisia',
 'Ghana',
 'Benin',
 'Denmark',
 'Guinea',
 'Georgia',
 'Israel',
 'Gabon',
 'Iceland',
 'Slovenia',
 'Macedonia',
 'Somalia',
 'Bangladesh',
 'Saudi Arabia',
 'Luxembourg']

In [57]:
print("Countries to be dropped from happiness")
print(set(countriesList_happiness).difference(countriesListCleaned_lifeExpectancy))

Countries to be dropped from happiness
{'Somaliland Region', 'Palestinian Territories', 'Puerto Rico', 'Kosovo', 'North Cyprus', 'Hong Kong', 'Taiwan'}

In [58]:
print("In lifeExpectancy Cleaned not 250 countries")
print(set(countriesListCleaned_lifeExpectancy).difference(countriesList_250Countries))
print("In 250 countries not lifeExpectancy Cleaned")
print(set(countriesList_250Countries).difference(countriesListCleaned_lifeExpectancy))

In lifeExpectancy Cleaned not 250 countries
{'South Korea', 'Ivory Coast', 'Russia', 'Tanzania', 'Moldova', 'Laos', 'Syria', 'Iran', 'Venezuela', 'Congo (Brazzaville)', 'United States', 'Congo (Kinshasa)', 'Bolivia', 'United Kingdom', 'Macedonia', 'Vietnam'}
In 250 countries not lifeExpectancy Cleaned
{'Christmas Island', 'Saint Pierre and Miquelon', 'Venezuela (Bolivarian Republic of)', 'Nauru', 'Macedonia (the former Yugoslav Republic of)', 'Mayotte', 'Iran (Islamic Republic of)', 'Gambia', 'Saint Kitts and Nevis', 'Dominica', 'Antarctica', 'New Caledonia', 'Samoa', 'Palestine, State of', 'Puerto Rico', 'Montserrat', 'Saint Vincent and the Grenadines', 'Timor-Leste', 'Greenland', 'Kiribati', 'Curaçao', 'South Georgia and the South Sandwich Islands', 'Vanuatu', 'Cuba', 'Andorra', 'Saint Helena, Ascension and Tristan da Cunha', 'Bouvet Island', 'Equatorial Guinea', 'Northern Mariana Islands', 'United Kingdom of Great Britain and Northern Ireland', 'Cayman Islands', 'Anguilla', 'Niue', 'Norfolk Island', 'Gibraltar', 'Jersey', 'Isle of Man', 'Aruba', 'Sint Maarten (Dutch part)', 'Heard Island and McDonald Islands', 'Guyana', 'Saint Barthélemy', 'Turks and Caicos Islands', 'Eritrea', 'Sao Tome and Principe', 'Tanzania, United Republic of', 'Bonaire, Sint Eustatius and Saba', 'Martinique', 'Papua New Guinea', 'Syrian Arab Republic', 'Pitcairn', 'Republic of Kosovo', 'Fiji', 'Macao', 'Western Sahara', 'United States of America', 'Virgin Islands (U.S.)', 'Tokelau', 'Saint Martin (French part)', 'Cook Islands', "Côte d'Ivoire", 'Russian Federation', 'Moldova (Republic of)', 'Seychelles', 'Hong Kong', 'Wallis and Futuna', 'Palau', 'Antigua and Barbuda', 'Solomon Islands', 'Åland Islands', 'British Indian Ocean Territory', 'Tuvalu', 'Virgin Islands (British)', 'Taiwan', 'Brunei Darussalam', 'Congo', 'Cabo Verde', 'Maldives', 'Monaco', 'Svalbard and Jan Mayen', 'Liechtenstein', 'Réunion', 'French Polynesia', 'Congo (Democratic Republic of the)', 'Grenada', 'United States Minor Outlying Islands', 'Bermuda', 'French Guiana', 'Bahamas', 'French Southern Territories', 'Cocos (Keeling) Islands', "Korea (Democratic People's Republic of)", 'Saint Lucia', 'Tonga', 'Micronesia (Federated States of)', 'Marshall Islands', 'Bolivia (Plurinational State of)', 'Guinea-Bissau', 'Barbados', 'Falkland Islands (Malvinas)', "Lao People's Democratic Republic", 'American Samoa', 'Guam', 'Korea (Republic of)', 'Holy See', 'Guadeloupe', 'Viet Nam', 'Guernsey', 'Faroe Islands', 'San Marino'}

In [59]:
df_countryData['Country'] = df_countryData['Country'].replace({'Iran (Islamic Republic of)':'Iran','Tanzania, United Republic of':'Tanzania','Congo':'Congo (Brazzaville)','Congo (Democratic Republic of the)':'Congo (Kinshasa)','Russian Federation':'Russia','United States of America':'United States','Venezuela (Bolivarian Republic of)':'Venezuela',"Côte d'Ivoire":'Ivory Coast','Viet Nam':'Vietnam','Korea (Republic of)':'South Korea','Syrian Arab Republic':'Syria',"Lao People's Democratic Republic":'Laos', 'Moldova (Republic of)':'Moldova','United Kingdom of Great Britain and Northern Ireland':'United Kingdom','Bolivia (Plurinational State of)':'Bolivia','Macedonia (the former Yugoslav Republic of)':'Macedonia'})

In [60]:
countriesAvailableCleaned_250Countries=df_countryData.groupby(['Country']).groups.keys()
countriesListCleaned_250Countries=[*countriesAvailableCleaned_250Countries]
countriesListCleaned_IntersectionThree=list(set(countriesListCleaned_lifeExpectancy)&set(countriesListCleaned_250Countries))
print(len(countriesListCleaned_IntersectionThree))
#countriesListCleaned_IntersectionThree

156

In [73]:
df_integrated = pd.merge(pd.merge(df_countryData,df_happiness,on='Country', how='inner'), df_lifeExpectancy,on='Country', how='inner')